    <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="{{ Header.facebook }}"><i class="fa fa-facebook"></i></a></li>
               <li><a href="{{ Header.twitter }}"><i class="fa fa-twitter"></i></a></li>
               <li><a href="{{ Header.googleplus }}"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="{{ Header.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="{{ Header.instagram }}"><i class="fa fa-instagram"></i></a></li>
               <li><a href="{{ Header.skype }}"><i class="fa fa-skype"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>{{ foot.firstcopyright }}</li>
               <li>{{ foot.secondcopyright }}</li>
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer>